/* Стили ТОЛЬКО для содержимого внутри CKEditor (iframe) */

body{
    font-family: 'Segoe UI', sans-serif;
    background: transparent;
    outline: none;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.01em;
    font-weight: 500;
}

/* Скроллбар внутри iframe (Chrome/Edge) */
::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-track{
  background: rgba(236, 234, 234, 0.04);
  border-radius: 999px;
  border: 1px solid rgba(255, 255, 255, .12);
}

::-webkit-scrollbar-thumb{
  background: #bdbecb;
  border-radius: 999px;
  border: 2px solid rgba(0,0,0,0);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover{
  background: #a0a0a0;
}