/* ========================================================== GAMES APP start ========================================================== */

@import url("./games.css");

/* ========================================================== GAMES APP end ========================================================== */

/* ========= (блок gd-topbar навигация) =========> */

/*___ Иконки внутри кнопок/ссылок .gd-share ___==> */
.gd-share .gd-ico{
  width: 18px;
  height: 18px;
  display: block;
  flex: 0 0 auto;
}

.gd-share .gd-ico { 
  color: inherit;
}


.gd-share:hover .gd-ico-edit{
  color: #2dd835f1;
}


.gd-share:hover .gd-ico-trash{
  color: #db0909;
}

/*__ Двойная стрелка назад __*/
.ui-icon-arrow-double-left {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18 5l-7 7 7 7' fill='none' stroke='black' stroke-width='2.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11 5l-7 7 7 7' fill='none' stroke='black' stroke-width='2.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18 5l-7 7 7 7' fill='none' stroke='black' stroke-width='2.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11 5l-7 7 7 7' fill='none' stroke='black' stroke-width='2.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

/*<==___ Иконки внутри кнопок/ссылок .gd-share ___ */

/* <========= (блок gd-topbar навигация) ========= */


/* ========= (блок gd-nav review-nav страницы обзора) =========> */

.review-nav{
  justify-content: center;
}

/* <========= (блок gd-nav review-nav страницы обзора) ========= */

/* ___ (Изображение обложки обзора ) ___ > */

.center-image{
  width: 85%;
  max-height: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  
}

.review{
  max-width: 85%;
  max-height: 800px;
  width: auto;
  margin: 0 auto;
}



/* ___ (Изображение обложки обзора ) ___ > */

/*==== (блок gd-text внутри блока gd-main карточка обзора) ====> */
.indent{
  text-indent: 0;
}

/*<==== (блок gd-text внутри блока gd-main карточка обзора) ==== */

/* ========= (блок gd-review-scroll( поле модели Review text) карточки обзора) =========> */


.gd-review-scroll {
  max-height: 700px;        /* ⬅️ лимит высоты */
  overflow-y: auto;         /* вертикальный скролл */
  padding-right: 10px;      /* чтобы текст не залезал под скролл */
}


.gd-review-scroll::-webkit-scrollbar {
  width: 15px;
}

.gd-review-scroll::-webkit-scrollbar-track {
  background: rgba(236, 234, 234, 0.04);
  border-radius: 999px;
  border: 1px solid rgba(255, 255, 255, .12);
}

.gd-review-scroll::-webkit-scrollbar-thumb {
  background: #bdbecb;
  border-radius: 999px;
  border: 2px solid rgba(0,0,0,0);
  background-clip: padding-box;
}

.gd-review-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #f3f4f6;
  cursor: pointer;
}

/* <========= (блок gd-review-scroll( поле модели Review text) карточки обзора) ========= */

/* ========= (блок gd-procons(плюсы/минусы) карточки обзора) =========> */

.gd-procons {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 32px 0;
}

.gd-pros,
.gd-cons {
  flex: 1;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  padding: 16px 18px;
  
}

.gd-pros .gd-text.indent p,
.gd-cons .gd-text.indent p{
  text-align: center;
}

.gd-pros .gd-subtitle,
.gd-cons .gd-subtitle {
  margin-bottom: 12px;
}

.gd-pros:hover,
.gd-cons:hover{
  background: transparent;
}
/* <========= (блок gd-procons(плюсы/минусы) карточки обзора) ========= */

/* ========================================================== REVIEWS APP specifies ========================================================== */


/* ================== Подтверждение удаления обзора(review_confirm_delete.html) start  ================== */

.center-text{
  text-align: center;
}

.gd-back.delete:hover{
  color: #db0909;
}

.gd-back.save:hover{
  color:#2dd835f1
}
/* ================== Подтверждение удаления обзора(review_confirm_delete.html) end  ================== */


/* ========================================================== WALKTHROUGHS APP specifies ========================================================== */

.wt-like-center{
  justify-content: center;
  gap: 8px;
}

.wt-like-label{
  opacity: .8;
  font-size: 14px;
}

.walkthrourgh-stats{
    margin-top: 10px;
    font-size: 14px;
  }
/* ========================================================== WALKTHROUGHS APP end ========================================================== */