<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}GameHunt{% endblock %}</title>
    <link rel="icon" type="image/x-icon" sizes="16x16" href="{% static 'images/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/glightbox/glightbox.min.css' %}">
<script type="text/javascript">
    (function(m,e,t,r,i,k,a){
        m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
    })(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=106431723', 'ym');

    ym(106431723, 'init', {ssr:true, webvisor:true, clickmap:true, ecommerce:"dataLayer", referrer: document.referrer, url: location.href, accurateTrackBounce:true, trackLinks:true});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/106431723" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    {% block extra_css %}{% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="page-wrapper">

    {% include 'navbar.html' %}

    {% if messages %}
      <div class="gh-messages">
        {% for message in messages %}
          <div
            id="gh-message-{{ forloop.counter }}"
            class="gh-message gh-message-{{ message.tags|default:'info' }}"
          >
            <span class="gh-message-icon">
              {% if message.tags == 'success' %}✅
              {% elif message.tags == 'error' %}❌
              {% elif message.tags == 'warning' %}⚠️
              {% else %}💬{% endif %}
            </span>

            <span class="gh-message-text">{{ message }}</span>

            <button
              type="button"
              class="gh-message-close"
              aria-label="Закрыть сообщение"
            >
              ✕
            </button>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <main class="page-content">
        <div class="site-container">
        {% block content %}{% endblock %}
        </div>
    </main>

    {% include 'footer.html' %}

</div>

<!-- JS Для фотогалереи -->
<script src="{% static 'vendor/glightbox/glightbox.min.js' %}"></script>
<!-- JS Для закрытия всплывающего сообщения -->
<script src="{% static 'js/base.js' %}"></script>
<!-- JS Для приложений -->
{% block page_js %}{% endblock %}
</body>
</html>