<footer class="site-footer">
  <div class="site-container site-footer__inner">

    <p class="footer-copy">
      © 2025 GameHunt. Все права защищены.
    </p>
  <input type="checkbox" id="footer-toggle" class="footer-toggle" aria-hidden="true">
  <label for="footer-toggle" class="footer-burger" aria-label="Открыть ссылки" title="Информационная панель">
  <span></span><span></span><span></span>
  </label>
    <p class="footer-links">
      <a href="{% url 'about' %}">О проекте</a> |
      <a href="{% url 'rules' %}">Правила</a> |
      <a href="{% url 'contacts' %}">Контакты</a> |
      <a href="{% url 'privacy_policy' %}">Политика конфиденциальности</a>
    </p>

  </div>
</footer>