<footer style="background-color: #1f2937; color: #9ca3af; text-align: center; padding: 8px 20px;
               height:70px; box-sizing:border-box;">
    <p style="margin: 4px auto;">© 2025 GameHunt. Все права защищены.</p>
    <p style="margin: 4px auto;">
        <a href="{% url 'about' %}" style="color: #f97316;">О проекте</a> |
        <a href="{% url 'contacts' %}" style="color: #f97316;">Контакты</a> |
        <a href="{% url 'privacy_policy' %}" style="color: #f97316;">Политика конфиденциальности</a>
    </p>
</footer>