{% load static %}
<header style="
    height: 70px;
    box-sizing: border-box;
    background-color: #1f2937;
    padding: 10px 30px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
">
    <div class="logo" style="display: flex; align-items: center;">
        <a href="{% url 'homepage' %}">
            <img src="{% static 'images/logo.jpg' %}"
                 alt="GameHunt Logo"
                 style="height: 100%; width: auto;">
        </a>
    </div>

    <nav style="display: flex; gap: 15px;">
        <a href="{% url 'homepage' %}" style="color: #f97316;">Главная</a>
        <a href="#" style="color: #f97316;">Игры</a>
        <a href="#" style="color: #f97316;">Обзоры</a>
        <a href="#" style="color: #f97316;">Прохождения</a>
        <a href="#" style="color: #f97316;">Читы</a>
        <a href="{% url 'about' %}" style="color: #f97316;">О проекте</a>
    </nav>

    <div class="auth" style="display: flex; gap: 15px;">
        <a href="#" style="color: #f97316;">Вход</a>
        <a href="#" style="color: #f97316;">Регистрация</a>
    </div>
</header>