{% extends "base.html" %}
{% load static %}

{% block title %}Удаление обзора — GameHunt{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/reviews.css' %}">
{% endblock %}

{% block content %}
<section class="ce-wrap">

  <div class="ce-card">

    <div class="ce-top">
      <a class="gd-back" href="javascript:history.back()">
        <span class="ui-icon ui-icon-arrow-left" aria-hidden="true"></span>
        <span>Назад</span>
      </a>
    </div>

    <h4 class="gd-section-title center">
      Удаление обзора «{{ review.title }}»
    </h4>

    <p class="gd-text center-text">
      Вы уверены, что хотите удалить этот обзор?
    </p>


    <form method="post" class="ce-actions">
      {% csrf_token %}
      {% if next %}
        <input type="hidden" name="next" value="{{ next }}">
      {% endif %}
      <button type="submit" class="gd-back delete">
        Удалить
      </button>

      <a class="gd-back save" href="javascript:history.back()">
        Отмена
      </a>
    </form>

  </div>
</section>
{% endblock %}