{% extends "base.html" %}
{% load static %}

{% block title %}GameHunt — Правила{% endblock %}

{% block content %}
<section class="about-page">
  <h1 class="page-title center">Правила пользования сайтом</h1>

  <p class="gd-text center-text">
    Правила необходимы для обеспечения безопасности контента, а так же для комфортного общения пользователей. Используя сайт <span class="span-bright">GameHunt</span>,
    вы соглашаетесь соблюдать пункты ниже.
  </p>

  <h3 class="page-title center">1. Сообщения и комментарии</h3>
  <ul class="about-list">
    <li>Запрещены оскорбления, травля и унижение других участников сайта.</li>
    <li>Запрещена ненормативная лексика, в том числе завуалированная.</li>
    <li>Запрещены оскорбления администрации и провокации конфликтов.</li>
    <li>Запрещены угрозы и призывы к насилию.</li>
  </ul>

  <h3 class="page-title center bottom">2. Запрещённый контент</h3>
  <ul class="about-list">
    <li>Запрещён контент сексуального характера.</li>
    <li>Запрещён политический контент и агитация.</li>
    <li>Запрещён аморальный/шокирующий контент, а также материалы 18+.</li>
    <li>Запрещены материалы, нарушающие закон и права третьих лиц.</li>
  </ul>

  <h3 class="page-title center bottom">3. Ссылки и реклама</h3>
  <ul class="about-list">
    <li>Запрещено прикреплять ссылки в комментариях (включая сокращенные и замаскированные URL).</li>
    <li>Запрещены спам, реклама и навязчивое продвижение сторонних ресурсов.</li>
  </ul>

  <h3 class="page-title center bottom">4. Модерация и ограничения</h3>
  <ul class="about-list">
    <li>Администрация может скрывать/удалять материалы, нарушающие правила.</li>
    <li>За нарушения возможны предупреждения, ограничения, временная или постоянная блокировка аккаунта.</li>
    <li>При повторных или грубых нарушениях меры могут применяться без дополнительных предупреждений.</li>
  </ul>

  <h3 class="contacts-subtitle bottom">Сообщить о проблеме</h3>
  <ul class="about-list contacts-ul">
    <li class="about-list li contacts-flex-li">
      <a href="{% url 'contact_admin' %}">
        <svg class="contact-icon" viewBox="0 0 24 24" aria-hidden="true">
          <path fill="currentColor"
            d="M3 17.25V21h3.75L17.8 9.95l-3.75-3.75L3 17.25zm18-11.5
               a1 1 0 0 0 0-1.41l-1.59-1.59
               a1 1 0 0 0-1.41 0l-1.83 1.83
               3.75 3.75L21 5.75z"/>
        </svg>
      </a>
      <a class="contact-links" href="{% url 'contact_admin' %}">Обратная связь</a>
    </li>
  </ul>
</section>
{% endblock %}