{% extends "base.html" %}
{% load static %}

{% block title %}Подтверждение email{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<section class="ce-wrap">

  <div class="ce-top">
      <a class="gd-back" href="javascript:history.back()">
        <span class="ui-icon ui-icon-arrow-left" aria-hidden="true"></span>
        <span>Назад</span>
      </a>
    </div>
  <div class="ce-card">



    <h2 class="gd-section-title center">Подтверждение email</h2>

    <div class="auth-hint center">
      Продолжить подтверждение для email: <span class="my-mail">{{ request.user.email }}</span> ?
    </div>

    <div class="auth-hint center">
      {{ email_address.email }}
    </div>

    <form method="post" class="ce-form" novalidate>
      {% csrf_token %}

      <div class="ce-actions">
        <button type="submit" class="gd-back save mini-button">
          Подтвердить
        </button>
      </div>
    </form>

  </div>
</section>
{% endblock %}