{% extends "base.html" %}
{% load static %}

{% block title %}Управление email{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<section class="ce-wrap">

   <div class="ce-top">
      <a class="gd-back" href="{% url 'profile' %}">
        <span class="ui-icon ui-icon-arrow-left" aria-hidden="true"></span>
        <span>Назад в профиль</span>
      </a>
    </div>
  <div class="ce-card">



    <h2 class="gd-section-title center">Управление email</h2>

    <div class="auth-hint center email-form">
      Здесь вы можете добавить или подтвердить адрес электронной почты.
    </div>
      {# форма добавления нового email #}
    {% if form.errors %}
    <div class="gd-form-errors">
      <p class="gd-form-errors-title"><strong>Ошибка заполнения формы</strong></p>
    </div>
  {% endif %}
    <form method="post" action="{% url 'account_email' %}" class="ce-form" novalidate>
      {% csrf_token %}

      {% if form.non_field_errors %}
        <div class="ce-error">
          {{ form.non_field_errors|striptags }}
        </div>
      {% endif %}

      <div class="gd-formset-grid">
        <div class="gd-field">
          {{ form.email.label_tag }}
          {{ form.email }}
          <div class="gd-field-error">{{ form.email.errors.0|default:''|striptags }}</div>
        </div>
      </div>

      <div class="ce-actions email-add">
        <button type="submit" name="action_add" class="gd-back">
          Добавить email
        </button>
      </div>
    </form>

      <div class="auth-hint center email-form">
          Мои адреса электронной почты:
      </div>
    {# список email’ов пользователя #}
    {% if user.emailaddress_set.all %}
      {% for email in user.emailaddress_set.all %}
        {% if email.verified %}
          <div class="auth-hint mail-form-footer">
            <div class="my-mail">{{ email.email }}</div>
            <div class="ce-done">Подтверждён</div>
          </div>
        {% else %}
          <div class="auth-hint mail-form-footer">
            <div class="my-mail">{{ email.email }}</div>
            <div class=" ce-error">Не подтверждён</div>

            <div class="email-verification">
              <form method="post" action="{% url 'account_email' %}">
                {% csrf_token %}
                <input type="hidden" name="email" value="{{ email.email }}">
                <button type="submit" name="action_send" class="gd-back save mini-button ">
                  Выслать письмо подтверждения
                </button>
              </form>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}



  </div>
</section>
{% endblock %}