{% extends "base.html" %}
{% load static %}

{% block title %}Email подтверждён{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<section class="ce-wrap">
  <div class="ce-card">



    <h2 class="gd-section-title center">Email подтверждён</h2>

    <div class="auth-hint center email-form">
      Ваш адрес электронной почты успешно подтверждён.
    </div>

    <div class="ce-actions">
      <a href="{% url 'profile' %}" class="gd-back save mini-button">
        Перейти в профиль
      </a>
    </div>

  </div>
</section>
{% endblock %}