{% extends "base.html" %}
{% load static %}

{% block title %}GameHunt — Выход{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<section class="ce-wrap">
  <div class="ce-top">
      <a class="gd-back" href="javascript:history.back()">
        <span class="ui-icon ui-icon-arrow-left" aria-hidden="true"></span>
        <span>Назад</span>
      </a>
    </div>

  <div class="ce-card">



    <h2 class="gd-section-title center">Выход из аккаунта</h2>

    <p class="auth-hint center">
      Вы действительно хотите выйти из аккаунта?
    </p>

    <form method="post" action="{% url 'account_logout' %}" class="ce-form">
      {% csrf_token %}

      <div class="ce-actions">
        <button type="submit" class="gd-back save mini-button">
          Выйти
        </button>
      </div>
    </form>

  </div>
</section>
{% endblock %}