{% extends "base.html" %}
{% load static %}

{% block title %}GameHunt — Пароль изменён{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<section class="ce-wrap">
   <div class="ce-top">
      <a class="gd-back" href="javascript:history.back()">
        <span class="ui-icon ui-icon-arrow-left" aria-hidden="true"></span>
        <span>Назад</span>
      </a>
    </div>
  <div class="ce-card">



    <h2 class="gd-section-title center">Пароль успешно изменён</h2>

    <div class="auth-hint">
      Ваш пароль был успешно изменён.
    </div>

    <div class="ce-actions">
      <a href="{% url 'profile' %}" class="gd-back save mini-button">Вернуться в профиль</a>
    </div>

  </div>
</section>
{% endblock %}