{% extends "base.html" %}
{% load static %}

{% block title %}Сбросить пароль{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<section class="ce-wrap">
  <div class="ce-top">
      <a class="gd-back" href="{% url 'homepage' %}">
        <span class="ui-icon ui-icon-arrow-left" aria-hidden="true"></span>
        <span>На главную</span>
      </a>
    </div>

  <div class="ce-card">



    <h2 class="gd-section-title center">Восстановление пароля</h2>

    <div class="auth-hint">
      Укажите адрес электронной почты, указанный при регистрации, на него будет отправлена ссылка для сброса пароля.
    </div>

    {% if form.errors %}
    <div class="gd-form-errors">
      <p class="gd-form-errors-title"><strong>Ошибка заполнения формы</strong></p>
    </div>
  {% endif %}

    <form method="post" action="{% url 'account_reset_password' %}" class="ce-form" novalidate>
      {% csrf_token %}

      <div class="gd-formset-grid">
        <div class="gd-field">
          <label for="{{ form.email.id_for_label }}">Электронная почта</label>
          {{ form.email }}
          <div class="gd-field-error">{{ form.email.errors|striptags }}</div>
        </div>
      </div>

      <div class="ce-actions">
        <button type="submit" class="gd-back save mini-button">Отправить</button>
      </div>

      {% if form.non_field_errors %}
        <div class="ce-error">
          {{ form.non_field_errors|striptags }}
        </div>
      {% endif %}

      <div class="auth-split">
        <div class="auth-split-left">
          <div class="auth-hint">Вспомнили пароль?</div>
          <a class="gd-back small" href="{% url 'account_login' %}">Войти</a>
        </div>

        <div class="auth-split-right">
          <div class="auth-hint">Ещё нет аккаунта?</div>
          <a class="gd-back small" href="{% url 'account_signup' %}">Регистрация</a>
        </div>
      </div>

    </form>

  </div>
</section>
{% endblock %}