{% extends "base.html" %}
{% load static %}

{% block title %}Ссылка отправлена{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<section class="ce-wrap">

    <div class="ce-top">
      <a class="gd-back" href="javascript:history.back()">
        <span class="ui-icon ui-icon-arrow-left" aria-hidden="true"></span>
        <span>Назад</span>
      </a>
    </div>
  <div class="ce-card">



    <h2 class="gd-section-title center">Проверьте почту</h2>

    <div class="ce-form">


      <p class="auth-hint center">
        На указанную электронную почту успешно отправлена ссылка для сброса пароля.

      <div class="ce-actions">
        <a href="{% url 'homepage' %}" class="gd-back save mini-button">
           На главную
        </a>
      </div>

    </div>

  </div>
</section>
{% endblock %}