{% extends "base.html" %}
{% load static %}

{% block title %}Пароль изменён{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<section class="ce-wrap">
  <div class="ce-top">
      <a class="gd-back" href="javascript:history.back()">
        <span class="ui-icon ui-icon-arrow-left" aria-hidden="true"></span>
        <span>Назад</span>
      </a>
    </div>

  <div class="ce-card">



    <h2 class="gd-section-title center success">
      Пароль успешно изменён
    </h2>

    <p class="auth-hint">
      Теперь вы можете войти, используя новый пароль.
    </p>

    <div class="ce-actions">
      <a href="{% url 'account_login' %}" class="gd-back save mini-button">
        Войти в профиль
      </a>
    </div>

  </div>
</section>
{% endblock %}