{% load static %}

<article class="gd-comment" data-comment-id="{{ comment.id }}">
  <div class="gd-comment-head">
    <div class="gd-comment-left">

      {% if comment.is_edited %}
  <span class="gd-comment-date">Обновлён: {{ comment.updated_at|date:"d.m.Y H:i" }}</span>
    {% else %}
  <span class="gd-comment-date">Добавлен: {{ comment.created_at|date:"d.m.Y H:i" }}</span>
    {% endif %}

      <div class="gd-comment-user">
        {% if comment.user.profile.profile_image %}
          <img class="gd-comment-avatar"
               src="{{ comment.user.profile.profile_image.url }}"
               alt="{{ comment.user.profile.nickname|default:comment.user.username }}">
        {% else %}
          <img class="gd-comment-avatar"
               src="{% static 'images/default_avatar.png' %}"
               alt="avatar">
        {% endif %}

        <a class="gd-comment-author" href="{% url 'profile-view' comment.user.id %}">
          {{ comment.user.profile.nickname|default:comment.user.username }}
        </a>
      </div>
    </div>

    {% if user.is_superuser or request.user == comment.user %}
      <div class="gd-comment-actions">

        {% if request.user == comment.user %}
          <a href="{% url 'review_comment_edit' comment.id %}"
             class="gd-comment-action gd-comment-edit"
             title="Редактировать"
             aria-label="Редактировать">
            <svg class="gd-ico gd-ico-edit" viewBox="0 0 24 24" aria-hidden="true">
    <path fill="currentColor"
      d="M3 17.25V21h3.75L17.8 9.95l-3.75-3.75L3 17.25zm18-11.5
         a1 1 0 0 0 0-1.41l-1.59-1.59
         a1 1 0 0 0-1.41 0l-1.83 1.83
         3.75 3.75L21 5.75z"/>
  </svg>
          </a>
        {% endif %}

        <form method="post"
              action="{% url 'review_comment_delete' comment.id %}"
              class="gd-comment-delete-form">
          {% csrf_token %}
          <button type="submit"
                  class="gd-comment-action gd-comment-delete"
                  title="Удалить"
                  aria-label="Удалить">
            <svg class="gd-ico gd-ico-trash"
     viewBox="0 0 24 24"
     width="32"
     height="32"
     aria-hidden="true"
     focusable="false">
  <path fill="currentColor"
        d="M6 7h12l-1 13H7L6 7zm3-3h6l1 2H8l1-2z"/>
</svg>
          </button>
        </form>

      </div>
    {% endif %}
  </div>

  <div class="gd-comment-body">
    {{ comment.text|linebreaks }}
  </div>
</article>